<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Chess</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="icon" href="img/favicon.ico" type="image/x-icon">



<script src="/socket.io/socket.io.js" type="text/javascript"></script>



<script src="js/main.js"></script>

<script type="module">


</script>

</head>
<body onload="Draw()">


<div id="wrapper">
	<div id="welcome">
		<h1>Chess Javascript</h1>
		<h2>Who you want to play against?</h2>
		<button>Computer</button>
		<button onclick="playFriend()">Friend</button>
	</div>

	<div id="welcome1">
		<h2>What's your name</h2>
		<input type="text" name="name"><br><br>
		<button onclick="setName()">Play</button>
	</div>
	<div id="welcome2">
		<h2>Your friend is not connected</h2>
		<h3>Please share this link with him to play:</h3>
		<a id="room-link"></a>
	</div>

	<div id="chessboard">

	</div>
	
</div>

<div id="wrapper-status">
	<div id="wrapper-status2">
		<div id="turn-top"><p></p></div>
		<div id="status">
			<div id="name-top">Tito</div>
			<div id="moves">
				<a id="first-message">
				</a>
			</div>
			<div id="name-bottom">Rolo</div>
		</div>
		<div id="turn-bottom"><p></p><button style="display:none" onclick="restart()">Play again</button></div>
	</div>
</div>


</body>
</html>