:root {
  --size: 800px;
}



#wrapper-status {
    display: none;
    position: absolute;
    top: 34vh;
    height: 400px;
    width: 380px;
}

#wrapper-status2 {
  display: table-cell;
  vertical-align: middle;
}

#status
 {
 	text-align: center;
    background: #f7f6f5;
}

#turn-bottom, #turn-top {
	height: 55px;
}

#turn-bottom, #turn-top, #status {
	width: 350px;
	display: inline-block;
	margin: 0 15px;
}





#wrapper {
    width: var(--size);
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
    float: left;
}

#welcome,#welcome1,#welcome2 {
/*    width: 591px;
    height: 306px;*/
    position: absolute;
    top: calc(var(--size) / 3.1);
    left: calc(var(--size) / 7.1);
    background: #7cccf1;
    padding: 55px;
    padding-top: 0;
    border-radius: 5%;
    border: solid #4a93b5;
    display: none;
}


#welcome button, #welcome1 button, #welcome2 button, #welcome input, #welcome1 input, #welcome2 input{
	font-size: 2rem;
	margin: 12px 15px 0 15px;
}

.square {
	height: calc(var(--size) / 8);
	width: calc(var(--size) / 8);
	display: inline-block;
}

.square-dark {
	background: gray;
}

.square-light {
	background: lightgray;
}


#status h1 {
	width: 50%;
	display: inline-block;
}

#chessboard {
	width: 100%;
    display: grid;
    grid-template-columns: repeat(8, calc(var(--size) / 8));
    grid-template-rows: repeat(8, calc(var(--size) / 8));
}


.possible img{
	/*background: skyblue;*/
	background-color: rgba(160, 190, 255, 0.5);
}

.blocking {
	background: red;
}
.check {
	background: red;
}
.selected {
	background: orange;
}

/* Pieces images */

.square img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}





.white-pawn {
	background:url("https://upload.wikimedia.org/wikipedia/commons/0/04/Chess_plt60.png");
}

.black-pawn {
	background:url("https://upload.wikimedia.org/wikipedia/commons/c/cd/Chess_pdt60.png");
}

.white-bishop {
	background:url("https://upload.wikimedia.org/wikipedia/commons/9/9b/Chess_blt60.png");
}

.black-bishop {
	background:url("https://upload.wikimedia.org/wikipedia/commons/8/81/Chess_bdt60.png");
}

.white-king {
	background:url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Chess_klt60.png");
}

.black-king {
	background:url("https://upload.wikimedia.org/wikipedia/commons/e/e3/Chess_kdt60.png");
}

.white-knight {
	background:url("https://upload.wikimedia.org/wikipedia/commons/2/28/Chess_nlt60.png");
}

.black-knight {
	background:url("https://upload.wikimedia.org/wikipedia/commons/f/f1/Chess_ndt60.png");
}

.white-queen {
	background:url("https://upload.wikimedia.org/wikipedia/commons/4/49/Chess_qlt60.png");
}

.black-queen {
	background:url("https://upload.wikimedia.org/wikipedia/commons/a/af/Chess_qdt60.png");
}

.white-rook {
	background:url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chess_rlt60.png");
}

.black-rook {
	background:url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Chess_rdt60.png");
}

.square img {
	width: 100%;
	height: 100%;
}



#moves {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    overflow-y: auto;
    align-content: center;
    will-change: scroll-position;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    line-height: 1.7;
    font-size: 1.1em;
    height: calc(29px * 4);
}

div:has(> div) {
    align-content: flex-start;
}



.move {
	flex: 0 0 37%;
    padding-left: 0.7em;
}

.move-order{
    flex: 0 0 16.666%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: lightgray;
  }

#name-top, #name-bottom {
    background: #9aefe8;
    padding: 5px 0 5px;
}



@media only screen and (max-width: 1150px)  {
    #wrapper-status {
      position: initial;
      margin-top: 50px;
      margin-left: 30vw;
    }

    #wrapper {
        display: block;
    }



:root {
  --size: 100vw;
}

}

@media only screen and (orientation: portrait)  {

    #wrapper-status {
      position: initial;
      margin-top: 50px;
      margin-left: 30vw;
    }

    #wrapper {
        display: block;
    }



:root {
  --size: 100vw;
}

}


@media only screen and (orientation: landscape)  {

:root {
  --size: 100vh;
}

}